{% if element.id %}
  <form action="{{ path('Bacardi55CvgeneratorBundle_edit_element', {'id': cv_id, 'cat_id': element.category.id, 'element_id': element.id}) }}" method="post" {{ form_enctype(form) }}>
{% else %}
  <form action="{{ path('Bacardi55CvgeneratorBundle_add_element', {'id': cv_id, 'cat_id': element.category.id }) }}" method="post" {{ form_enctype(form) }}>
{% endif %}
  {{ form_widget(form) }}
          
  <input type="submit" />
</form>
